@import './variables.scss';

html, body, #root, .loginWrapper {
    height: 100%;
}
.loginWrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
	color: #c4c3ca;
	background-color: $primary-background;
}
.form-signin {
    width: 100%;
    max-width: 430px;
    margin: auto;
}
.copyright {
    right: 0;
    bottom: 0;
    position: absolute;
}
.custom-sidebar {
    width: 250px;
    position: fixed;
    height: 100%;
    transition: width 1s;
}
.custom-nav-link {
    color: #cccccc;
}
.custom-nav-link:hover {
    color: #ffffff;
}
.custom-nav-link.active {
    color: #ffffff;
}
.width-240px {
    flex-grow: 1;
}
@media (min-width: 768px) {
.width-240px {
    width: 240px;
    flex-grow: 0;
}
main {
    margin-left: 240px;
    padding: 1.5rem;
}
}